@layer theme, base, frosted_ui, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@whop/react/styles.css" layer(frosted_ui);

/* biome-ignore lint/suspicious/noUnknownAtRules: this rule is imported from whop */
@config '../tailwind.config.ts';

body {
	background: #020617; /* bg-slate-950 */
	color: #f8fafc; /* text-slate-50 */
	font-family: Arial, Helvetica, sans-serif;
}
